{{- if eq .chezmoi.os "linux" }}
hide_window_decorations titlebar-only
# background_opacity 0.8
font_size 14
{{- else }}
hide_window_decorations no
font_size 18
# modify_font cell_width 85%
# text_composition_strategy legacy
adjust_column_width 87.5%
{{- end }}

font_family Iosevka Custom
cursor_shape_unfocused block
cursor_beam_thickness 2.0
# window_margin_width 0 0 0

detect_urls yes
show_hyperlink_targets yes
underline_hyperlinks always
copy_on_select yes
paste_actions quote-urls-at-prompt,replace-dangerous-control-codes
strip_trailing_spaces smart
macos_quit_when_last_window_closed yes

confirm_os_window_close 0
shell /run/current-system/sw/bin/fish
shell_integration enabled
allow_remote_control yes
macos_colorspace displayp3

placement_strategy top-left

map ctrl+w close_tab
map ctrl+t new_tab
map ctrl+q quit

map ctrl+1 goto_tab 1
map ctrl+2 goto_tab 2
map ctrl+3 goto_tab 3
map ctrl+4 goto_tab 4
map ctrl+5 goto_tab 5
map ctrl+6 goto_tab 6
map ctrl+7 goto_tab 7
map ctrl+8 goto_tab 8
map ctrl+9 goto_tab 9
map ctrl+0 goto_tab 10

map ctrl+pageup previous_tab
map ctrl+pagedown next_tab

startup_session launch.conf

enable_cursor_trail yes
cursor_trail 3
cursor_trail_decay 0.3 0.5

map command+enter no_op

map ctrl+h kitty_scrollback_nvim
map ctrl+e kitty_scrollback_edit_command_buffer

listen_on unix:/tmp/kitty
action_alias kitty_scrollback_nvim kitten ~/.local/share/nvim/lazy/kitty-scrollback.nvim/python/kitty_scrollback_nvim.py
nvim --headless +'KittyScrollbackGenerateKittens'

# BEGIN_KITTY_THEME
# Catppuccin-Mocha
include current-theme.conf
# END_KITTY_THEME

tab_fade 0 0
tab_bar_align center
tab_bar_background none
active_tab_font_style bold

tab_title_template "{fmt.fg.red}{bell_symbol}{activity_symbol}{fmt.fg.tab}{tab.last_focused_progress_percent}{title}"
active_tab_title_template "{fmt.fg.red}{bell_symbol}{activity_symbol}{fmt.fg.tab}{tab.last_focused_progress_percent}{title}"

# map ctrl+shift+up scroll_line_up smooth
# map ctrl+shift+down scroll_line_down smooth
