title-hidden = true
tabs = false


[font]
{{- if eq .chezmoi.os "linux" }}
size = 14
{{- else }}
size = 18
{{- end }}

[[font.normal]]
family = "Iosevka Custom"

[[font.italic]]
family = "Iosevka Custom Oblique"

[[font.bold]]
family = "Iosevka Custom Extrabold"

[[font.bold_italic]]
family = "Iosevka Custom XBd Obl"
style = "Bold Italic"
