

#toolbox-tab-inspector {
  font-weight: 900 !important;
}

:root {
  --monospace-font-family: 'Code Saver' !important;
  --theme-code-font-size: 12px !important;
}

.devtools-monospace {
  font-weight: 500 !important;
}

/*
._2BMnTatQ5gjKGK5OWROgaG {
  opacity: 0;
}
*/